/*-------------------- Brown Stylesheet for Sermon Prep Database --------------------
Note: Qt default background for widgets is #f0f0f0 or 240, 240, 240

General Theme Colors:
    accent color: #554535
    background color: #ffe0d0
    font color: #000000
    text background: #ffffff
*/

/*-------------------- help_widget, about_widget --------------------*/
QWidget#help_widget, QWidget#about_widget {
    background-color: #ffe0d0;
}

/*-------------------- tab_container --------------------*/
QWidget#tab_container {
    background-color: #ffe0d0;
    border: none;
    border-top: 2px solid #ffffff;
}

/*-------------------- text_box --------------------*/
QWidget#text_box {
    background-color: #ffe0d0;
    border: 1px solid #554535;
}

/*-------------------- text_box_edit --------------------*/
QWidget#text_box_text_edit {
    background-color: #ffe0d0;
}

/*-------------------- title_label --------------------*/
QLabel#title_label {
    color: #554535;
    margin-bottom: 20px;
}

/*-------------------- QComboBox --------------------*/
QComboBox {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}
QComboBox QAbstractItemView {
    background: #ffffff;
    color: #000000;
}
QComboBox QAbstractItemView::item {
    background: #ffffff;
    color: #000000;
    border: none;
}
QComboBox QAbstractItemView::item:hover {
    background: #ffe0d0;
    color: #000000;
    border: none;
}
QComboBox QAbstractItemView::item:selected {
    background: #ffe0d0;
    color: #000000;
    border: none;
}

/*-------------------- QDialog --------------------*/
QDialog {
    background-color: #ffe0d0;
}
QDialog QLabel {
    color: #000000;
}

/*-------------------- QLabel --------------------*/
QLabel {
    background: transparent;
    color: #000000
}

/*-------------------- QLineEdit --------------------*/
QLineEdit, QDateEdit, QComboBox {
    background: #ffffff;
    color: #000000;
    border: 1px solid #554535;
    min-height: 24px;
}
QLineEdit:focus, QDateEdit:focus {
    border-bottom: 3px solid #554535;
}

/*-------------------- QMainWindow --------------------*/
QMainWindow {
    background-color: #ffe0d0;
}

/*-------------------- QMenuBar --------------------*/
QMenuBar {
    background: #ffe0d0;
    color: #000000;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    margin-bottom: -1px;
}
QMenuBar::item {
    background: #ffe0d0;
    color: #000000;
}
QMenuBar::item:selected {
    background: #ffffff;
}
QMenuBar::item:pressed {
    background: #ffe0d0;
}

/*-------------------- QMenu --------------------*/
QMenu {
    background: #ffe0d0;
    color: #000000;
    border: 1px solid #d0d0d0;
}
QMenu::item {
    background: #ffe0d0;
    color: #000000;
    padding: 10px 15px;
}
QMenu::item:selected {
    background: #ffffff;
}
QMenu::item:pressed {
    background: #ffe0d0;
}

/*-------------------- QMessageBox --------------------*/
QMessageBox {
    background-color: #ffe0d0;
}
QMessageBox QLabel {
    color: #000000;
}

/*-------------------- QPushButton --------------------*/
QPushButton {
	background: #ffe0d0;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid lightGrey;
	border-style: outset;
}
QPushButton:hover {
	background: #554535;
	color: #ffffff;
}
QPushButton:pressed {
	background: #aaaaaa;
}
QPushButton:disabled {
    background: #a0a0a0;
    color: grey;
}
QPushButton:checked {
    border-bottom: 2px solid #554535;
    padding-bottom: 3px;
}
QPushButton:unchecked {
    border-bottom: none;
}

/*-------------------- QScrollBar --------------------*/
QScrollBar {
	background : #ffe0d0;
	color: #000000;
}

/*-------------------- QTabBar --------------------*/
QTabBar::tab {
    background-color: #554535;
    color: #ffffff;
    font-weight: normal;
    min-width: 120px;
    min-height: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 2px solid #ffe0d0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
QTabBar::tab:icon {
    padding-left: 10px;
}
QTabBar::tab:label {
    padding-right: 10px;
}
QTabBar::tab:selected {
    color: #554535;
    background-color: #ffe0d0;
    font-weight: bold;
    border-top: 3px solid #554535;
    padding-top: 2px;
}
QTabBar::tab:last {
    border-right: none;
}

/*-------------------- QTabWidget --------------------*/
QTabWidget {
    background-color: #ffffff;
}
QTabWidget::pane {
    padding: 20px;
    background-color: #ffe0d0;
    border: none;
}

/*-------------------- QTextEdit --------------------*/
QTextEdit {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #554535;
}
QTextEdit:focus {
    border-bottom: 3px solid #554535;
}